<html>
<head>
<body>
    <div class="container">
        <h1>Login</h1>

        <form action="http://localhost:5000/login" method="post">
            id
            <input type="text" name="userid" > <br>
            pw
            <input type="text" name="userpasswd"><br>
            <!-- Sign up
            <input type="text" name ="signup"> -->
            <br>
            <input type="submit" name="submitType" value="LOGIN" />
            <input type="submit" name="submitType" value="SIGNUP" />
        </form>
    </div>
</body>
</head>
</html>

<!-- required -->