<html>
<head>
    {% include 'common_head.html' %}
</head>
<body>

    <div class="container">
        <h1>채팅방입니다</h1>
        <h2>채팅방 ID는 숫자만 가능합니다</h2>
        <form action="http://localhost:5000/chatroom/chat" method="post">
            <table>
            <tr>유저ID </tr>
            <tr><input type="text" name="userid" value="12345"></tr><br>
            <tr>채팅방ID</tr>
            <tr><input type="text" name="chatid"></tr><br>
            <tr><input type="submit" value="채팅방들어가기" /></tr>
            </table>
        </form>
    </div> 
    {{share_list[0]}}
    {{share_list[1]}}
    {{share_list[2]}}
    {{share_list[3]}}
    {{share_list[4]}}
    {{share_list[5]}}
    <a href="http://localhost:5000/" onclick="leave_room();">초기화면으로</a>
</body>
</html>