 <h4 class="mt-4">{{session['login_info'].userid}}의 일정</h4>
    
        <form action="/chatroom/dateroom" method="post" class="mb-3">
            <input type="hidden" name="chatid" value="{{result1[0]}}">
            <input type="hidden" name="userno" value="{{result1[1]}}">
            <input type="hidden" name="event" value="{{result1[2]}}">
	    <input type="hidden"  name"userid" value="{{result1[3]}}">
	    일정:{{result1[2]}} 
            <button type="submit" class="btn btn-primary"> 채티방일정에 공유 하기</button>
        </form>
  

    <form action="/chatroom/share" method="post">
        <input name="chatid" value="{{result1[0]}}" type="hidden">
        <input type="hidden" name="userno" value="{{session['login_info'].userno}}">
        
    </form>
   
    <a href="/chatroom" onclick="leave_room();" class="btn btn-secondary mt-3">채팅방 나가기</a>
    <a href="/" onclick="leave_room();" class="btn btn-secondary mt-3">초기화면으로</a>

</body>
</html>

