<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}" />
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/calendar.min.css') }}" />


<!-- Add jQuery UI CSS -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.3/jquery-ui-timepicker-addon.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!-- Bootstrap DateTimePicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">일정 관리</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/board">게시판</a></li>
            <li><a href="/chatroom">채팅방</a></li>
            <li><a href="/user.mypage2">마이페이지</a></li>

            {% if userno %}
                <li><a href="/logout">로그아웃</a></li>
            {% else %}
                <li><a href="/login">로그인</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
