<html>
<head>
<body>
    <div class="container">
        <h1>My Page</h1>

        <form action="http://localhost:5000/mypage" method="post">
            <!-- 아이디와 비밀번호 입력하게 하기  -->
            id
            <input type="text" name="userid" > <br>
            pw
            <input type="text" name="userpasswd" ><br>
            
            
            <br>
            <input type="submit" name="submitType" value="회원정보수정">
            <input type="submit" name="submitType" value="탈퇴하기">
        </form>
    </div>
</body>
</head>
</html>
