<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'common_head.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script>
        function confirmDelete() {
            return confirm("삭제 하시겠습니까?");
        }
        function confirmUpdate() {
            return confirm("수정 하시겠습니까?");
        }
    </script>
</head>
<body class="container">
    <h1 class="mt-4 mb-4">게시글</h1>
    <hr>
    <div class="mb-4">
        <h2>제목</h5>
        <p style="font-size: 13pt;">{{ post_list[0][2] }}</p>
    </div>
    <div class="mb-4">
        <h5 style="font-size: 12pt;">내용</h5>
        <p style="height: auto; min-height: 200px; font-size: 10pt;" >{{ post_list[0][3] }}</p>
    </div>
    <form action='/board' method="get" class="mb-3">
        <button type='submit' class="btn btn-primary">목록</button>
    </form>
    {% if post_list[0][10] == session['login_info'].get('userid') %}
        <div class="d-flex justify-content-end align-items-center mb-3" style="height: 38px;">
            <form id="updateForm" action="{{ url_for('board.updatepost', postno=postno) }}" method="post" onsubmit="return confirmUpdate()">
                <a href="{{ url_for('board.updatepost', postno=postno) }}" class="btn btn-warning">게시글 수정</a>
            </form>
            <form id="deleteForm" action="{{ url_for('board.delete_list', postno=postno) }}" method="post" onsubmit="return confirmDelete()">
                <button type='submit' class="btn btn-danger">게시글 삭제</button>
            </form>
        </div>
    {% else %}
    {% endif %}
    <div class="mt-4">
        <form action="{{ url_for('board.write_comment_action') }}" method="post">
            <div class="mb-3">
                <label for="content" class="form-label">내용</label>
                <textarea id="content" name="content" class="form-control"></textarea>
            </div>
            <input type="hidden" name="postno" value="{{ postno }}">
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">댓글 입력</button>
            </div>
        </form>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">내용</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for i in comment_list %}
            <tr>
                <td>{{ i[6] }}</td>
                <td>{{ i[2] }}</td>
                <td>
                    {%  if i[6] == session['login_info'].get('userid') %}
                        <form id="deleteFromComment" action="{{url_for('board.delete_comment_list',commentno=i[0])}}" method="post"
                            onsubmit="return confirmDelete()">
                            <button type="submit" class="btn btn-danger">X</button>
                        </form>
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>