<html>
<head>
<body>
    <div class="container">
        <h1>Sign up</h1>

        <form action="http://localhost:5000/signup" method="POST">
            id
            <input type="text" name="userid" required> <br>
            email
            <input type="text" name="email" > <br>
            pw
            <input type="text" name="userpasswd" required><br>
            name
            <input type="text" name="username" required><br>
            iddate
            <input type="date" name="iddate"><br>
            <br>
            <input type="submit" value="SIGN UP">
        </form>
    </div>
</body>
</head>
</html>