<html>
<head>
<body>
    <div class="container">
        <h1>회원정보수정</h1>

        <form action="/update2" method="post">
            <!-- 회원정보 보이게 해야함 -->
            id
            <input type="text" name="userid"required > <br>
            email
            <input type="text" name="email"required > <br>
            pw
            <input type="text" name="userpasswd" required><br>
            name
            <input type="text" name="username" required><br>
            <!-- iddate
            <input type="date" name="iddate"><br> -->
            <br>
            <input type="submit" name="submitType" value="저장" />
            <!-- <input type="submit" name="submitType" value="탈퇴하기" /> -->
        </form>
    </div>
</body>
</head>
</html>