<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원정보수정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-e1I1rVbIEag8h8f2EZnVv5ZNbM6kfP2l9TOLRi6uARtF+aae2CuKsB6ZOpEXA7Df" crossorigin="anonymous">
</head>
<body class="container mt-5">
    <h1>회원정보수정</h1>

    <form action="http://localhost:5000/update2" method="post">
        <div class="mb-3">
            <label for="userid" class="form-label">ID:</label>
            <input type="text" name="userid" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="userpasswd" class="form-label">Password:</label>
            <input type="text" name="userpasswd" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Name:</label>
            <input type="text" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <input type="submit" name="submitType" value="저장" class="btn btn-primary">
            <!-- <input type="submit" name="submitType" value="탈퇴하기" class="btn btn-danger"> -->
        </div>
    </form>

    <!-- Bootstrap JS 및 Popper.js 추가 (선택 사항) -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofA4fFpAnZ+0u8Q9zOM+DmS6Z/xT8EBJGt" crossorigin="anonymous"></script>
</body>
</html>
